  /* Navigation Bar */
 nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 65px;
    background-color: white;
    top: 0;
    border-bottom: 1px solid #e2e2e2;
  }
   /* Navigation Bar Left */
  .nav-left{
      display: flex;
      flex-direction: row;
  }
  .nav-left a{
      margin: 15px;
  }
  .nav-left p{
    font-family: helvetica,arial,sans-serif;
    font-weight: 700;
  }
   /* Navigation Bar Center */
  .nav-center {
    display: inline-flex;
    align-items: center;
  }
  .nav-center img {
      height: 50px;

  }
   /* Navigation Bar Right */
  .nav-right button{
    margin: 15px;
    background-color: rgb(86, 123, 149);
    border: solid;
    border-color: rgb(86, 123, 149);
  }
  .nav-button {
      color: white;
      font-weight: 700;
      border: transparent;
      padding: 7px;
      border-radius: 5px;
  }
/* Main Article*/
main {
    width: 100%;
}
.main-article{
    width: 90%;
    margin-left: 10%;
    
}
.main-article h2 {
    font-family: 'PT Serif', serif;
    font-size: 2.2rem;
    line-height: 3rem;
    font-style: italic;
    font-weight: 500;
    margin-top: 3em;
    margin-bottom: 0.8em;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
#main-img1{
    width: 90%; 
    height: 90%;
}
.main-article p {
    padding-right: 35%;
}
/* Main Section*/
main section{
    width: 40%;
    margin-left: 30%;

}
.main-section-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
main section p {
    margin-bottom: 0.78125rem;
    margin-top: 0;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 1.3rem;
    line-height: 1.5625rem;
}
#main-section-img2 {
    height: 70%;
    width: 120%;
    margin-left: -10%;
    margin-right: 0;
}
.main-section-img2-span {
    height: 70%;
    width: 120%;
    margin-left: -10%;
    margin-right: 0;
}
#main-section-belowicons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#section-align { 
    margin-bottom: -100px;
}
#section-align1 {
    margin-top: 180px;
    margin-left: 40%;
}
#section-align2 {
    margin-top: -200px;
}
#section-align3 {
    margin-top: -100px;
}
aside {
  display: grid;
  grid-template-columns: 75px 150px;
  grid-template-rows: repeat(4,auto-fit);
  margin-left: 120%;
}
aside img {
    height: 80px;
    width: 90px;
    margin: 5px;
}
aside a {
    font-size: 14px;
    margin-left: 15px;
    margin-top: 5px;

}
.img-container-head {
    margin: 0 auto;
   width: 900px;
}
.img-container-head-p {
    margin: 0 auto;
    width: 900px;
    color: rgb(148, 148, 148);
}

.img-container {
    margin: 0 auto;
    background: url("/assets/theuniverse.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 900px;
    height: 700px;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: auto;
}
.img-container p {
    font-family: sans-serif;
    font-size: small;
    width:200px;
    height: auto;
    margin-top: 150px;
    margin-bottom: 0;
    font-weight: lighter;
}
.container1 {
    grid-column: 1/2;
    grid-row: 2/3;
}
.container2 {
    grid-column: 2/3;
    grid-row: 2/3;
}
.container3 {
    grid-column: 3/4;
    grid-row: 2/3;
}
.container4 {
    grid-column: 4/4;
    grid-row: 2/3;
}
.container5 {
    grid-column: 1/2;
    grid-row: 4/5;
}
.container6 {
    grid-column: 2/3;
    grid-row: 4/5;
}
.container7 {
    grid-column: 3/4;
    grid-row: 4/5;
}
.container8 {
    grid-column: 4/5;
    grid-row: 4/5;
}
.container-span{
    width: 50%;
    margin-top: 0;
    margin-bottom:20px;
    margin-left: 19%

}

/*Bottom -Nav*/
.footer-border{
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
    border-top: 2px solid #e2e2e2;
    display: block;
    height: 1px;
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
}
.footer-border1{
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
    display: block;
    height: 1px;
    margin-top: 20px;
    width: 100%;
}
.bottom-nav {
    width: 80%;
    margin-left: 10%;
}
.bottom-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom-head img {
    height: 50px;
}
.bottom-head-span {
    margin-top: 20px;
    font-size: smaller;
    color: rgb(86, 123, 149);;
}

.bottom-header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom-header-nav a li {
    margin: 10px;
    margin-right: 0;
    margin-left: 0;
}
.footer-icons {
    height: 20px;
    width: 20px;
    margin: 10px;
}
.footer-align {
    display: flex;
    flex-direction: row;
}
.footer-align-border{
    border-top: 1px solid rgb(226, 226, 226);
}
.footer-align-bottom {
    font-size: small;
}
.footer-sub-align {
    border-left: 1px solid rgb(226, 226, 226);
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}
footer {
    margin-left: 70px;
}
footer li {
    display: inline-flex;
    color: rgb(97, 91, 91);
    font-size: 11px;
    line-height: 20px;
    font-weight: 300;
    height: auto;
    padding: 10px 5px;
}
.footer-nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 8%;
    background-color: white;
    bottom: 0;
    border-top: 1px solid #e2e2e2;
}
.footer-nav-right {
    display: flex;
    justify-content: space-between;

}
